*{
    margin: 0;
    padding: 0;
}


#game{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
#canvas{
    width: 90%;
    height: 80vh;
    background-color: black;
}

#win{
    display: none;
  position: absolute;
  flex-direction: column;
  gap: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 255, 255);
  width: 16%;
  max-width: calc(2000px * 16/100);
  height: 150px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgb(196, 193, 193);

}

#win h1{
    font-size: 25px;
    color: rgb(42, 42, 42);
    margin-top: 10px;
}
#win button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}
#win button:hover{
    transform: scale(1.1);
}


#lose{
    display: none;
  position: absolute;
  flex-direction: column;
  gap: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 255, 255);
  width: 16%;
  max-width: calc(2300px * 16/100);
  max-width: 1500;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
box-shadow: 3px 3px 10px rgb(195, 195, 195);
}

#lose h1{
    font-size: 25px;
    color: rgb(42, 42, 42);
    margin-top: 10px;
}
#lose button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}
#lose button:hover{
    transform: scale(1.1);
}

button{
    cursor: pointer;
}

@media only screen and (min-width:350px){
    #canvas{
        max-width: 500px;
        height:50vh;
    }
}


@media only screen and (min-width:1000px){
    #canvas{
        max-width: 800px;
        height: 80vh;
    }
}

@media only screen and (min-width:2000px){
    #canvas{
        max-width: 1500px;
        height: 80vh;
    }
    #win{
        height: 200px;
        gap: 100px;
    }
    #win h1{
        font-size: 35px;
    }
    #lose h1{
        font-size: 35px;
    }
    #lose{
        height: 200px;
        gap: 100px;
    }
    #lose button{
        transform: scale(1.4);
    }
    #win button {
        transform: scale(1.4);
    }
}

@media only screen and (max-height:500px){
   #canvas{
    width: 60%;
    height: 95vh;
   }
}